@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
	color: #2f343c;
	background-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
	:root {
		color: #ffffff;
		background-color: #2f343c;
	}
}
